<?xml version="1.0"?>
<config>
  <modules>
    <Wholesale_Registration>
      <version>0.1.0</version>
    </Wholesale_Registration>
  </modules>
  <global>
    <helpers>
      <registration>
        <class>Wholesale_Registration_Helper</class>
      </registration>
    </helpers>
	<models>
	  <registration>
		<class>Wholesale_Registration_Model</class>
		<resourceModel>registration_mysql4</resourceModel>
	  </registration>
	</models>
	<resources>
	  <customerattribute_setup>
		<setup>
		  <module>Wholesale_Registration</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute_setup>
	  <customerattribute_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute_write>
	  <customerattribute_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute_read>
	</resources>
  </global>
</config> 