<?xml version='1.0'?>
<config>
    <modules>
        <Nick_Ordercorrection>
            <version>8.0.5</version>
        </Nick_Ordercorrection>
    </modules>
    <admin>
        <routers>
			<ordercorrection>
				<use>admin</use>
				<args>
					<module>Nick_Ordercorrection</module>
					<frontName>ordercorrection</frontName>
				</args>
			</ordercorrection>
        </routers>
    </admin>
    <adminhtml>
    	<layout>
			<updates>
				<ordercorrection>
					<file>ordercorrection.xml</file>
				</ordercorrection>
			</updates>
		</layout>
		<menu>
            <sales>
                <children>
				   <restore translate="title" module="ordercorrection">
                   		<title>Restore Order From Quote</title>
						<sort_order>1000</sort_order>
						<action>ordercorrection/restore</action>
                   </restore>
				</children>
			</sales>
		</menu>
		 <acl>
            <resources>
			<all>
					<title>Allow Everything</title>
				</all>	
                <admin>
                    <children>
						<sales>
                            <children>
                                <restore>
									<title>Restore Order From Quote</title>
									<sort_order>1000</sort_order>
								</restore>
                            </children>
                        </sales>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ordercorrection>
                                            <title>Order Correction</title>
                                        </ordercorrection>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>  
    <global>
         <models>
            <ordercorrection>
                <class>Nick_Ordercorrection_Model</class>
            </ordercorrection>
        </models>
		 <helpers>
            <ordercorrection>
                <class>Nick_Ordercorrection_Helper</class>
            </ordercorrection>
        </helpers>
		<blocks>
            <ordercorrection>
                <class>Nick_Ordercorrection_Block</class>
            </ordercorrection>
			<adminhtml>
           		<rewrite>
           			<sales_order_creditmemo_view>Nick_Ordercorrection_Block_Adminhtml_Sales_Order_Creditmemo_View</sales_order_creditmemo_view>
           		</rewrite>
				<rewrite>
           			<sales_order_invoice_view>Nick_Ordercorrection_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
           		</rewrite>
				<rewrite>
           			<sales_order_shipment_view>Nick_Ordercorrection_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
           		</rewrite>
           	</adminhtml>
        </blocks>
 </global>  
 <default>
        <ordercorrection>
            <general>
				<enable_invoice>1</enable_invoice>
				<enable_creditmemo>1</enable_creditmemo>
				<enable_shipment>1</enable_shipment>
				<enable_comments>1</enable_comments>
				<enable_reset>0</enable_reset>
				<enable_delete>0</enable_delete>
				<enable_roles>0</enable_roles>
			</general>	 
        </ordercorrection>
  </default> 
</config>